---
import Button from "./Button.astro";

const { img, title, subTitle, price, className, cta = false } = Astro.props;
---

<div
  class={"pt-12 pb-6 px-6 bg-white-smoke flex flex-col justify-between gap-2 rounded-lg" +
    " " +
    className}
>
  <img src={img} alt={title} class="pb-12" />
  <div class="flex items-end justify-between">
    <div class="flex flex-col gap-2 items-start">
      <h3 class="text-lg font-semibold">{title}</h3>
      <p class="text-sm text-gray-500">{subTitle}</p>
    </div>
    {
      cta ? (
        <Button title="Shop Now" />
      ) : (
        <p class="text-sm text-gray-500">${price}</p>
      )
    }
  </div>
</div>
