---
import Button from "../base/Button.astro";
import Card from "../base/Card.astro";

const products = [
  {
    id: 1,
    name: "Model 000",
    type: "Black",
    price: 100,
    value: "shoes-model-000",
  },
  {
    id: 2,
    name: "Model 000",
    type: "White",
    price: 100,
    value: "shoes-model-000",
  },
  {
    id: 3,
    name: "Model 000",
    type: "Navy",
    price: 100,
    value: "shoes-model-000",
  },
  {
    id: 4,
    name: "Model 000",
    type: "Gray",
    price: 100,
    value: "shoes-model-000",
  },
  {
    id: 5,
    name: "Model 000",
    type: "Neon",
    price: 100,
    value: "shoes-model-000",
  },
  {
    id: 6,
    name: "Model 000",
    type: "Black and white",
    price: 100,
    value: "shoes-model-000",
  },
];
---

<section class="explore-section flex flex-col gap-8 mb-8">
  <div class="flex justify-between">
    <h2 class="font-bold text-xl">Explore Model 000</h2>
    <a href="#" class="underline">Shop now</a>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {
      products.map((product, index) => (
        <div class="explore-products">
          <Card
            title={product.name}
            subTitle={product.type}
            price={product.price}
            img={`/imgs/${product.value}-${index}.png`}
          />
        </div>
      ))
    }
  </div>
  <div><Button title="Shop now" /></div>

  <script is:inline>
    const exploreTl = gsap.timeline({
      scrollTrigger: {
        trigger: ".explore-section",
        start: "top 90%",
        end: "bottom 20%",
        // markers: true,
        toggleActions: "restart none none reverse",
      },
    });

    const products = gsap.utils.toArray(".explore-products");
    const productImages = gsap.utils.toArray(".explore-products img");
    const productTitles = gsap.utils.toArray(".explore-products h3");
    const productSubTitles = gsap.utils.toArray(".explore-products p");
    const exploreShopButton = document.querySelector(".explore-section button");

    exploreTl
      .from(products, {
        opacity: 0,
        y: 100,
        stagger: 0.2,
        scale: 0.8,
      })
      .to(products, {
        opacity: 1,
        y: 0,
        stagger: 0.2,
        scale: 1,
      })
      .from(
        productImages,
        {
          opacity: 0,
          stagger: 0.2,
        },
        0
      )
      .from(
        productTitles,
        {
          opacity: 0,
          stagger: 0.2,
        },
        0
      )
      .from(
        productSubTitles,
        {
          opacity: 0,
          stagger: 0.2,
        },
        0
      )
      .from(exploreShopButton, {
        opacity: 0,
        stagger: 0.2,
      }, '-=0.9');
  </script>
</section>
