---
import Footer from "../components/astro/base/Footer.astro";
import Header from "../components/astro/base/Header.astro";
import MainHead from "../components/astro/base/MainHead.astro";
import { MainProps } from "../core/type";
import "../styles/main.css";

interface Props extends MainProps {
  noPadding?: boolean;
}

const {
  title,
  description,
  includeFontAwesome,
  includeGsap,
  noPadding = false,
} = Astro.props;
const defaultClass =
  "mx-auto max-w-7xl lg:px-24 pb-16 pt-20 text-center lg:pt-32";
---

<html lang="en">
  <MainHead
    title={title}
    description={description}
    includeFontAwesome={includeFontAwesome}
    includeGsap={includeGsap}
  />

  <body>
    <Header />
    <div class={noPadding ? defaultClass : `${defaultClass} px-8 md:px-16`}>
      <slot />
    </div>
    <Footer />
  </body>
</html>
